.details{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 20px 50px
}
.details .box{
    max-width: 1000px;
    min-width: 290px;
    margin: 25px;
}

.box .row span{
    color: crimson;
}
.box .cart{
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}